<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<header>
    <a href="/">Home</a> | <a href="/about">About</a> | <a href="/catalog">Catalog</a>
 </header>
{% include('menu.html') %}
{%  set page_name = 'About Page' %}
{% set page_name = 'Main Page' %}

{#{% if name != None %}#}
<h2>Hello {{ name | default('wonderful', true) }}</h2>
{#{% else %}#}
<h2>You need to log in</h2>
{#{% endif %}#}
<h1> Welcome to the main page </h1>
<h2>hello {{ name | default('new user', true) | lower() }} {{ second_name | default('new user', true)}}</h2>
<h3> Check out our new <a href='/catalog'>catalog</a> </h3>
</body>
</html>