from flask import Flask, redirect, url_for
from flask import render_template
app = Flask(__name__)

@app.route('/')
def home_func():  # put application's code here
    return render_template('CV.html', name='Omri')

@app.route('/Assignment8', methods=['GET', 'POST'])
def about_func():  # put application's code here
    name = 'Omri'
    second_name = 'Canaan'
    uni = 'BGU'
    return render_template('Assignment8.html',
                           profile={'name': 'Omri',
                                    'second_name': 'Canaan',
                                    'Middle_name': 'null'},
                           name=name,
                           university=uni,
                           second_name=second_name,
                           degreas=['BSc', 'MSc', 'Phd'],
                           hobies=('Programming', 'football', 'sql'))


if __name__ == '__main__':
    app.run(debug=True)